{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}

    <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, infoWindow;
      src= 'https://docs.google.com/uc?id=17-Yu4Y-MQma5ipouTY6mn4FvR4ejl6tk&amp;export=kml'
      function initMap() {
        var myStyles =[
    
  {
    elementType: "geometry",
    stylers: [
      {
        "color": "#1d2c4d"
      }
    ]
  },
  {
    elementType: "labels",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#8ec3b9"
      }
    ]
  },
  {
    elementType: "labels.text.stroke",
    stylers: [
      {
        "color": "#1a3646"
      }
    ]
  },
  {
    featureType: "administrative",
    elementType: "geometry",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    featureType: "administrative.country",
    elementType: "geometry.stroke",
    stylers: [
      {
        "color": "#4b6878"
      }
    ]
  },
  {
    featureType: "administrative.land_parcel",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#64779e"
      }
    ]
  },
  {
    featureType: "administrative.neighborhood",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    featureType: "administrative.province",
    elementType: "geometry.stroke",
    stylers: [
      {
        "color": "#4b6878"
      }
    ]
  },
  {
    featureType: "landscape.man_made",
    elementType: "geometry.stroke",
    stylers: [
      {
        "color": "#334e87"
      }
    ]
  },
  {
    featureType: "landscape.natural",
    elementType: "geometry",
    stylers: [
      {
        "color": "#023e58"
      }
    ]
  },
  {
    featureType: "poi",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    featureType: "poi",
    elementType: "geometry",
    stylers: [
      {
        "color": "#283d6a"
      }
    ]
  },
  {
    featureType: "poi",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#6f9ba5"
      }
    ]
  },
  {
    featureType: "poi",
    elementType: "labels.text.stroke",
    stylers: [
      {
        "color": "#1d2c4d"
      }
    ]
  },
  {
    featureType: "poi.park",
    elementType: "geometry.fill",
    stylers: [
      {
        "color": "#023e58"
      }
    ]
  },
  {
    featureType: "poi.park",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#3C7680"
      }
    ]
  },
  {
    featureType: "road",
    elementType: "geometry",
    stylers: [
      {
        "color": "#304a7d"
      }
    ]
  },
  {
    featureType: "road",
    elementType: "labels.icon",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    featureType: "road",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#98a5be"
      }
    ]
  },
  {
    featureType: "road",
    elementType: "labels.text.stroke",
    stylers: [
      {
        "color": "#1d2c4d"
      }
    ]
  },
  {
    featureType: "road.highway",
    elementType: "geometry",
    stylers: [
      {
        "color": "#2c6675"
      }
    ]
  },
  {
    featureType: "road.highway",
    elementType: "geometry.stroke",
    stylers: [
      {
        "color": "#255763"
      }
    ]
  },
  {
    featureType: "road.highway",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#b0d5ce"
      }
    ]
  },
  {
    featureType: "road.highway",
    elementType: "labels.text.stroke",
    stylers: [
      {
        "color": "#023e58"
      }
    ]
  },
  {
    featureType: "transit",
    stylers: [
      {
        "visibility": "off"
      }
    ]
  },
  {
    featureType: "transit",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#98a5be"
      }
    ]
  },
  {
    featureType: "transit",
    elementType: "labels.text.stroke",
    stylers: [
      {
        "color": "#1d2c4d"
      }
    ]
  },
  {
    featureType: "transit.line",
    elementType: "geometry.fill",
    stylers: [
      {
        "color": "#283d6a"
      }
    ]
  },
  {
    featureType: "transit.station",
    elementType: "geometry",
    stylers: [
      {
        "color": "#3a4762"
      }
    ]
  },
  {
    featureType: "water",
    elementType: "geometry",
    stylers: [
      {
        "color": "#0e1626"
      }
    ]
  },
  {
    featureType: "water",
    elementType: "labels.text.fill",
    stylers: [
      {
        "color": "#4e6d70"
      }
    ]
  }








];
        map = new google.maps.Map(
            document.getElementById('map'), {
              center: new google.maps.LatLng(19.0454,72.8600),

              zoom: 14.5,
              zoomControl: true,
              mapTypeControl: true,
              scaleControl: false,
              streetViewControl: false,
              rotateControl: true,
              fullscreenControl: true,
              gestureHandling: 'none',
              styles: myStyles 



            });

        infoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        //if (navigator.geolocation) {
        //  navigator.geolocation.getCurrentPosition(function(position) {
        //    var pos = {
        //      lat: position.coords.latitude,
         //     lng: position.coords.longitude
         //   };

         //   infoWindow.setPosition(pos);
         //   infoWindow.setContent('You');
         //   infoWindow.open(map);
         //   map.setCenter(pos);
         //   map.setZoom(13);
          //}, function() {
          //  handleLocationError(true, infoWindow, map.getCenter());
         // });
        //} else {
          // Browser doesn't support Geolocation
         // handleLocationError(false, infoWindow, map.getCenter());
        //}
        var iconBase =
            'https://developers.google.com/maps/documentation/javascript/examples/full/images/';

        var icons = {
          parking: {
            icon: iconBase + 'parking_lot_maps.png'
          },
          library: {
            icon: iconBase + 'library_maps.png'
          },
          info: {
            icon: iconBase + 'info-i_maps.png'
          },
          bike: {
            icon: 'static/icon_small.png'//'https://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png',     scaledSize: new google.maps.Size(5, 5), // scaled size
 //http://www.simpleimageresizer.com/_uploads/photos/f7ccdc92/' + '5463_-_Cycling_Location-512_32x.png'
          }
        };
        function randomFloatBetween(minValue,maxValue,precision){
            if(typeof(precision) == 'undefined'){
                precision = 2;
            }
            return parseFloat(Math.min(minValue + (Math.random() * (maxValue - minValue)),maxValue).toFixed(precision));
      }
      var features = [
          {
            position: new google.maps.LatLng(19.0464,72.8700),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0464,72.8800),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0464,72.8900),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0564,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0664,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0764,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0864,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0964,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0464,72.8600),
            type: 'bike'
          }, {
            position: new google.maps.LatLng(19.0464,72.8600),
            type: 'bike'
          }, 
        ];

        // Create markers.
        for (var i = 0; i < features.length; i++) {
          //possibleBikeLocationLat = randomFloatBetween(44.892412,45.006369,5);
          //possibleBikeLocationLong = randomFloatBetween(93.209295,93.317098,5)*-1;
          var marker = new google.maps.Marker({
            position: features[i].position,
            icon: icons[features[i].type].icon,
            map: map
          });
          
        };
      }
      

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: true,
          preserveViewport: false,
          map: map
        });
        kmlLayer.addListener('click', function(event) {
          var content = event.featureData.infoWindowHtml;
          var testimonial = document.getElementById('capture');
          testimonial.innerHTML = content;
        });

    </script>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1lx8_Pfmu3Vuzr7iS2eYxyyP9ecglc62w" width="640" height="480"></iframe>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgq-YcBIGxZVE9J1cnouEgULua-m3Z9qM&callback=initMap">
    </script>

        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
