bcrypt==4.0.1
firebase-admin==6.3.0
Flask==2.2.5
Flask-Bcrypt==1.0.1
Flask-GoogleMaps==0.4.0
Flask-Login==0.6.3
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.2.1
google-api-core==2.15.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gunicorn==21.2.0
httplib2==0.22.0
Jinja2==3.1.2
Pillow==10.2.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
wasabi==1.1.2
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.2.3
WTForms==3.0.1
